---
http_interactions:
- request:
    method: get
    uri: https://service-e.vantaca.net/Read/Association?account=99910086&company=Vantaca&includeNextAssessment=true&includeOwners=true&login=admin&pwd=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: >
        [{"assocCode":"999","assocName":"Presidential Valley","type":"HOA","taxID":"","address1":"27644 Newhall Ranch Rd #45","address2":"","city":"Valencia","state":"CA","zip":"91355","charges":null,"lateFees":null,"documents":null,"owners":[{"propertyID":10082,"hoid":10086,"accountNo":"99910086","streetNo":8765,"address":"8765 Washington Rd","address1":"Washington Rd","address2":"","unitNo":"","city":"Wilmington","state":"NC","zip":"28405","lot":"","block":"","phase":"","village":"","settleDate":null,"previousOwner":null,"collectionStatus":"","hoName":"John F. Kennedy ","FirstName":"John F. Kennedy","LastName":"","SpouseFirstName":"","SpouseLastName":"","BusinessName":"","mailingAddressType":"PropertyAddress","mailingAddressID":10082,"hasPaymentPlan":false,"balance":100,"overallBalance":100,"addresses":[],"phones":[],"emails":[{"emailID":107,"isPrimary":true,"label":"","email":"JFK12345@whitehouseprez.com"}],"transactions":null,"chargeTransactions":null,"bkList":null}]}]
  recorded_at: Fri, 28 Jul 2023 18:04:55 GMT
recorded_with: VCR 6.2.0
