---
http_interactions:
- request:
    method: get
    uri: https://service-e.vantaca.net/Read/Association?assocCode=TEST&company=Vantaca&login=admin&pwd=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: >
        [{"assocCode":"TEST","assocName":"VMG Testing Sandbox","type":"HOA","taxID":"99-9999999","address1":"PO Box 802920","address2":"","city":"Santa Clarita","state":"CA","zip":"91380-2920","charges":null,"lateFees":null,"documents":null,"owners":null,"assessmentFrequencies":null,"propertyCount":null,"startingMonthOfFiscalYear":null}]
  recorded_at: Fri, 28 Jul 2023 18:04:55 GMT
recorded_with: VCR 6.2.0
