---
http_interactions:
- request:
    method: get
    uri: https://service-e.vantaca.net/Read/actionTypeList?company=Vantaca&login=admin&pwd=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: >
        [
          {"ActionTypeID":-2,"Descr":"Software Support","ActionCategoryID":0,"Created":"2014-12-22T17:37:24.76","LastModified":"2018-02-15T14:45:58.587"},
          {"ActionTypeID":2,"Descr":"Bank Return","ActionCategoryID":17,"Created":"2017-09-24T23:07:41.28","LastModified":"2023-03-23T21:48:24.743"},
          {"ActionTypeID":6,"Descr":"Transfer Funds Error Alert","ActionCategoryID":17,"Created":"2017-09-25T11:57:00.13","LastModified":"2024-12-04T16:36:53.53"},
          {"ActionTypeID":7,"Descr":"Bankruptcy","ActionCategoryID":15,"Created":"2017-09-25T12:01:07.097","LastModified":"2020-11-04T14:22:02.093"},
        [...]
