---
http_interactions:
- request:
    method: get
    uri: https://service-e.vantaca.net/Read/Provider?company=Vantaca&login=admin&pwd=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: >
        [
          {"providerID":123,"name":"Joe's Plumbing","address":"456 Main Street","unit":"Suite 12","city":"Valencia","state":"CA","zip":91355,"email":"joe@valenciamgmt.com","phone":"(555) 123-4567","fax":"","taxID":"","onHold":false,"onHoldReason":"","compliant":true,"complianceStatus":"Approved","complianceGroup":"","providerInsurance":null},
          {"providerID":124,"name":"Dave's Plumbing","address":"456 Main Street","unit":"Suite 13","city":"Valencia","state":"CA","zip":91355,"email":"dave@valenciamgmt.com","phone":"(555) 123-4567","fax":"","taxID":"","onHold":false,"onHoldReason":"","compliant":true,"complianceStatus":"Approved","complianceGroup":"","providerInsurance":null},
          {"providerID":125,"name\"":"Rob's Plumbing","address\"":"456 Main Street","unit\"":"Suite 14","city\"":"Valencia","state\"":"CA","zip\"":91355,"email\"":"rob@valenciamgmt.com","phone\"":"(555) 123-4567","fax\"":"","taxID\"":"","onHold\"":false,"onHoldReason\"":"","compliant\"":true,"complianceStatus\"":"Approved","complianceGroup\"":"","providerInsurance\"":null}
        ]
  recorded_at: Fri, 28 Jul 2023 18:04:55 GMT
recorded_with: VCR 6.2.0
