---
http_interactions:
- request:
    method: get
    uri: https://service-e.vantaca.net/Read/ProviderSingle?company=Vantaca&includeInsurance=true&login=admin&providerID=123&pwd=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: >
        {"providerID":123,"name":"Joe's Plumbing","address":"456 Main Street","unit":"Suite 12","city":"Valencia","state":"CA","zip":91355,"email":"joe@valenciamgmt.com","phone":"(555) 123-4567","fax":"","taxID":"","onHold":false,"onHoldReason":"","compliant":true,"complianceStatus":"Approved","complianceGroup":"","providerInsurance":[{"providerInsuranceID":1,"providerID":123,"insuranceType":"Auto-Liability","accountNo":333333333,"expirationDate":"2022-03-25T04:00:00","isRequired":false},{"providerInsuranceID":2,"providerID":123,"insuranceType":"Worker's Comp","accountNo":"CST2222222","expirationDate":"2022-03-25T04:00:00","isRequired":false},{"providerInsuranceID":3,"providerID":123,"insuranceType":"General Liability","accountNo":"E111111","expirationDate":"2022-04-25T04:00:00","isRequired":false}]}
  recorded_at: Fri, 28 Jul 2023 18:04:55 GMT
recorded_with: VCR 6.2.0
