---
http_interactions:
- request:
    method: get
    uri: https://service-e.vantaca.net/Read/Association?assocCode=999&company=Vantaca&includeDocuments=true&login=admin&pwd=abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: >
        [{"assocCode":"999","assocName":"Presidential Valley","type":"HOA","taxID":"","address1":"27644 Newhall Ranch Rd #45","address2":"","city":"Valencia","state":"CA","zip":"91355","charges":null,"lateFees":null,"documents":[{"imgID":3537,"docName":"Community Information.pdf","folderPath":"Documents/Welcome Packet/","securityID":1},{"imgID":3564,"docName":"ARC Form.pdf","folderPath":"Documents/Forms/ARC/","securityID":1}],"owners":null}]
  recorded_at: Fri, 28 Jul 2023 18:04:55 GMT
recorded_with: VCR 6.2.0
